html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.star-background {
  margin-top: -1vh;
  position: relative;
  transition: transform 1s ease, opacity 1s ease;
}

.star-background.animate {
  transform: translateY(-100%);
  opacity: 0;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1279px 670px #fff, 1153px 739px #fff, 1938px 1233px #fff,
    1746px 862px #fff, 1855px 206px #fff, 292px 1814px #fff, 154px 555px #fff,
    382px 1175px #fff, 1911px 1930px #fff, 1713px 1928px #fff, 296px 1702px #fff,
    1909px 1903px #fff, 1744px 1880px #fff, 1624px 1073px #fff, 22px 1871px #fff,
    112px 1411px #fff, 1661px 228px #fff, 1552px 1981px #fff, 117px 231px #fff,
    902px 297px #fff, 650px 1205px #fff, 1380px 751px #fff, 788px 95px #fff,
    272px 1750px #fff, 1434px 713px #fff, 1592px 89px #fff, 583px 1063px #fff,
    559px 550px #fff, 1750px 127px #fff, 536px 1683px #fff, 967px 1606px #fff,
    429px 1415px #fff, 1430px 255px #fff, 668px 1013px #fff, 796px 447px #fff,
    1094px 1752px #fff, 175px 1038px #fff, 1428px 863px #fff, 1991px 326px #fff,
    956px 1435px #fff, 152px 113px #fff, 328px 1024px #fff, 11px 1542px #fff,
    1997px 1449px #fff, 1854px 411px #fff, 1080px 740px #fff, 1069px 43px #fff,
    1284px 1739px #fff, 600px 1937px #fff, 1309px 1921px #fff, 534px 1773px #fff,
    1953px 886px #fff, 1950px 1980px #fff, 548px 1159px #fff, 1504px 926px #fff,
    335px 1751px #fff, 218px 1757px #fff, 847px 1973px #fff, 1111px 217px #fff,
    6px 1229px #fff, 931px 1399px #fff, 1890px 1073px #fff, 206px 1538px #fff,
    881px 1929px #fff, 851px 552px #fff, 365px 812px #fff, 1871px 1027px #fff,
    1187px 53px #fff, 1132px 1501px #fff, 1819px 1052px #fff, 422px 128px #fff,
    852px 363px #fff, 386px 1300px #fff, 402px 1329px #fff, 358px 547px #fff,
    1456px 391px #fff, 209px 208px #fff, 1833px 1904px #fff, 1298px 1552px #fff,
    1468px 1991px #fff, 940px 1597px #fff, 1687px 1387px #fff, 489px 90px #fff,
    877px 277px #fff, 647px 298px #fff, 1081px 56px #fff, 967px 1066px #fff,
    1820px 407px #fff, 849px 319px #fff, 1309px 1012px #fff, 1678px 1972px #fff,
    730px 1036px #fff, 76px 755px #fff, 1605px 203px #fff, 128px 1842px #fff,
    446px 360px #fff, 272px 1400px #fff, 1568px 568px #fff, 1281px 1758px #fff,
    1587px 1170px #fff, 58px 126px #fff, 557px 285px #fff, 1676px 346px #fff,
    203px 1788px #fff, 369px 425px #fff, 1089px 1583px #fff, 1748px 444px #fff,
    811px 1779px #fff, 102px 650px #fff, 1027px 466px #fff, 1415px 299px #fff,
    759px 824px #fff, 1341px 1186px #fff, 1459px 639px #fff, 1948px 1021px #fff,
    103px 210px #fff, 53px 1757px #fff, 142px 1232px #fff, 1117px 1805px #fff,
    1182px 1630px #fff, 874px 1219px #fff, 1938px 48px #fff, 1289px 524px #fff,
    3px 441px #fff, 817px 289px #fff, 1897px 1974px #fff, 980px 868px #fff,
    33px 51px #fff, 1727px 409px #fff, 933px 931px #fff, 909px 1832px #fff,
    576px 73px #fff, 1595px 185px #fff, 676px 500px #fff, 1043px 1980px #fff,
    1733px 921px #fff, 1654px 60px #fff, 1217px 387px #fff, 1712px 1477px #fff,
    1738px 1128px #fff, 1610px 434px #fff, 1856px 932px #fff, 541px 1825px #fff,
    1945px 774px #fff, 956px 498px #fff, 518px 1808px #fff, 613px 1848px #fff,
    1114px 1658px #fff, 532px 1719px #fff, 1660px 264px #fff, 1539px 1627px #fff,
    1696px 102px #fff, 774px 1468px #fff, 652px 299px #fff, 1850px 1638px #fff,
    1062px 915px #fff, 1232px 1222px #fff, 45px 765px #fff, 1487px 874px #fff,
    1211px 959px #fff, 1059px 1712px #fff, 509px 1139px #fff, 477px 1702px #fff,
    740px 266px #fff, 328px 1935px #fff, 84px 117px #fff, 273px 1136px #fff,
    1646px 791px #fff, 1978px 1769px #fff, 431px 1619px #fff, 1131px 1919px #fff,
    607px 201px #fff, 695px 1201px #fff, 837px 1725px #fff, 1997px 161px #fff,
    1306px 304px #fff, 1121px 33px #fff, 1706px 231px #fff, 1116px 947px #fff,
    1386px 1008px #fff, 1674px 568px #fff, 1315px 1250px #fff, 1639px 956px #fff,
    527px 1973px #fff, 743px 885px #fff, 1624px 1902px #fff, 1604px 590px #fff,
    107px 141px #fff, 78px 1029px #fff, 1325px 1794px #fff, 1976px 1345px #fff,
    191px 1365px #fff, 1427px 1482px #fff, 507px 17px #fff, 206px 553px #fff,
    1205px 819px #fff, 108px 57px #fff, 1760px 671px #fff, 122px 1971px #fff,
    498px 1321px #fff, 74px 818px #fff, 1658px 1050px #fff, 1713px 1137px #fff,
    1760px 653px #fff, 104px 1825px #fff, 997px 1277px #fff, 867px 1155px #fff,
    1972px 1271px #fff, 1234px 410px #fff, 15px 882px #fff, 1641px 859px #fff,
    1271px 97px #fff, 11px 1090px #fff, 1481px 29px #fff, 879px 1082px #fff,
    1259px 878px #fff, 859px 913px #fff, 1731px 1927px #fff, 1726px 1273px #fff,
    1460px 613px #fff, 1554px 158px #fff, 1841px 1703px #fff, 1597px 774px #fff,
    1794px 259px #fff, 124px 149px #fff, 1176px 386px #fff, 714px 1114px #fff,
    90px 544px #fff, 930px 85px #fff, 1957px 632px #fff, 586px 434px #fff,
    556px 179px #fff, 1332px 1166px #fff, 399px 1704px #fff, 1856px 663px #fff,
    280px 146px #fff, 1617px 1125px #fff, 288px 175px #fff, 199px 1863px #fff,
    921px 770px #fff, 1027px 162px #fff, 755px 570px #fff, 862px 937px #fff,
    1132px 349px #fff, 390px 1612px #fff, 533px 519px #fff, 1257px 892px #fff,
    808px 1693px #fff, 180px 1219px #fff, 761px 1484px #fff, 184px 1853px #fff,
    815px 1229px #fff, 1938px 1162px #fff, 1970px 732px #fff, 844px 661px #fff,
    1948px 1404px #fff, 130px 1600px #fff, 677px 319px #fff, 481px 1786px #fff,
    564px 1379px #fff, 1920px 1697px #fff, 442px 1457px #fff, 1928px 1821px #fff,
    1842px 1410px #fff, 1348px 1592px #fff, 1270px 397px #fff,
    1567px 1339px #fff, 47px 1301px #fff, 466px 1584px #fff, 728px 1861px #fff,
    1176px 77px #fff, 180px 504px #fff, 1686px 374px #fff, 463px 727px #fff,
    1287px 389px #fff, 672px 1599px #fff, 243px 590px #fff, 1460px 1453px #fff,
    604px 1015px #fff, 1961px 607px #fff, 1512px 196px #fff, 1942px 950px #fff,
    886px 913px #fff, 314px 1093px #fff, 1410px 888px #fff, 899px 475px #fff,
    65px 988px #fff, 1623px 622px #fff, 1057px 324px #fff, 1342px 94px #fff,
    1880px 1580px #fff, 938px 1358px #fff, 1772px 1031px #fff, 909px 1287px #fff,
    1755px 92px #fff, 1553px 1124px #fff, 775px 1174px #fff, 834px 1468px #fff,
    1346px 198px #fff, 1988px 676px #fff, 196px 213px #fff, 720px 1770px #fff,
    1747px 1062px #fff, 1866px 1722px #fff, 1416px 991px #fff,
    1223px 1327px #fff, 1291px 233px #fff, 402px 1798px #fff, 1437px 1946px #fff,
    339px 352px #fff, 445px 820px #fff, 1032px 1172px #fff, 1781px 1200px #fff,
    1962px 1208px #fff, 803px 1979px #fff, 1354px 1276px #fff, 1365px 841px #fff,
    1928px 244px #fff, 843px 1181px #fff, 1013px 1762px #fff, 1474px 1770px #fff,
    100px 817px #fff, 1973px 1742px #fff, 171px 1507px #fff, 1101px 1519px #fff,
    1527px 1324px #fff, 36px 671px #fff, 670px 1342px #fff, 1102px 1325px #fff,
    817px 603px #fff, 98px 1744px #fff, 1347px 730px #fff, 695px 1328px #fff,
    313px 535px #fff, 936px 1701px #fff, 488px 1966px #fff, 1200px 1455px #fff,
    1565px 1943px #fff, 12px 902px #fff, 537px 1354px #fff, 82px 1368px #fff,
    294px 1020px #fff, 1795px 1410px #fff, 1995px 632px #fff, 744px 310px #fff,
    71px 1027px #fff, 1298px 322px #fff, 1327px 1126px #fff, 162px 951px #fff,
    413px 439px #fff, 106px 1466px #fff, 1148px 879px #fff, 1586px 697px #fff,
    897px 1655px #fff, 190px 1408px #fff, 880px 971px #fff, 563px 958px #fff,
    880px 856px #fff, 1505px 1058px #fff, 306px 1346px #fff, 1205px 30px #fff,
    378px 1311px #fff, 1996px 360px #fff, 1216px 365px #fff, 127px 853px #fff,
    37px 216px #fff, 1734px 976px #fff, 120px 1327px #fff, 1580px 320px #fff,
    1831px 1262px #fff, 311px 160px #fff, 482px 125px #fff, 453px 1593px #fff,
    802px 826px #fff, 1653px 1163px #fff, 1734px 1660px #fff, 1464px 1073px #fff,
    1835px 1811px #fff, 960px 75px #fff, 260px 284px #fff, 790px 1934px #fff,
    1839px 1965px #fff, 1241px 1265px #fff, 246px 1103px #fff, 39px 864px #fff,
    210px 1821px #fff, 544px 1574px #fff, 440px 516px #fff, 924px 137px #fff,
    1218px 399px #fff, 875px 226px #fff, 666px 98px #fff, 169px 1968px #fff,
    922px 515px #fff, 714px 196px #fff, 29px 214px #fff, 45px 1714px #fff,
    1663px 865px #fff, 473px 880px #fff, 333px 752px #fff, 1233px 925px #fff,
    502px 122px #fff, 120px 1350px #fff, 1893px 594px #fff, 202px 788px #fff,
    1106px 226px #fff, 1187px 1921px #fff, 735px 554px #fff, 1001px 1679px #fff,
    537px 1572px #fff, 40px 681px #fff, 27px 647px #fff, 998px 938px #fff,
    507px 388px #fff, 956px 1075px #fff, 1976px 1436px #fff, 543px 941px #fff,
    1559px 489px #fff, 1645px 124px #fff, 1300px 663px #fff, 384px 46px #fff,
    1571px 635px #fff, 550px 670px #fff, 1268px 1793px #fff, 987px 1955px #fff,
    1051px 1188px #fff, 23px 1053px #fff, 898px 1121px #fff, 1602px 91px #fff,
    1416px 1126px #fff, 1570px 414px #fff, 1228px 838px #fff, 390px 1043px #fff,
    323px 148px #fff, 499px 1676px #fff, 1915px 1376px #fff, 1353px 1339px #fff,
    1567px 1410px #fff, 914px 845px #fff, 1801px 342px #fff, 297px 364px #fff,
    1128px 167px #fff, 1051px 496px #fff, 847px 100px #fff, 1922px 548px #fff,
    854px 318px #fff, 1595px 1048px #fff, 471px 1725px #fff, 1559px 281px #fff,
    674px 346px #fff, 14px 1939px #fff, 1021px 684px #fff, 846px 986px #fff,
    1937px 1954px #fff, 1514px 1780px #fff, 1620px 253px #fff, 393px 1403px #fff,
    1444px 178px #fff, 1920px 50px #fff, 909px 488px #fff, 1022px 1085px #fff,
    671px 1245px #fff, 1684px 442px #fff, 1619px 29px #fff, 936px 111px #fff,
    802px 1225px #fff, 1441px 1306px #fff, 1918px 1849px #fff, 898px 512px #fff,
    165px 1349px #fff, 8px 526px #fff, 302px 293px #fff, 461px 291px #fff,
    261px 1989px #fff, 795px 1835px #fff, 183px 1px #fff, 1358px 1113px #fff,
    423px 790px #fff, 671px 1678px #fff, 589px 1147px #fff, 668px 535px #fff,
    1051px 163px #fff, 708px 106px #fff, 1298px 1430px #fff, 1483px 1966px #fff,
    1372px 356px #fff, 1244px 616px #fff, 86px 1430px #fff, 1026px 1894px #fff,
    1194px 1083px #fff, 373px 391px #fff, 1311px 1396px #fff, 745px 854px #fff,
    348px 285px #fff, 1593px 1103px #fff, 1834px 810px #fff, 1521px 1584px #fff,
    892px 855px #fff, 1353px 1031px #fff, 1644px 378px #fff, 891px 1500px #fff,
    471px 889px #fff, 534px 882px #fff, 1407px 380px #fff, 98px 465px #fff,
    766px 1525px #fff, 1525px 407px #fff, 1200px 1937px #fff, 1058px 1147px #fff,
    464px 1851px #fff, 1394px 1468px #fff, 1563px 1534px #fff,
    1795px 1357px #fff, 27px 1586px #fff, 319px 1096px #fff, 98px 521px #fff,
    34px 328px #fff, 825px 1626px #fff, 1765px 1310px #fff, 654px 1435px #fff,
    958px 868px #fff, 1536px 1726px #fff, 934px 428px #fff, 1920px 1342px #fff,
    783px 1033px #fff, 1543px 434px #fff, 1128px 29px #fff, 1601px 1849px #fff,
    1849px 282px #fff, 1940px 729px #fff, 605px 1677px #fff, 1436px 1884px #fff,
    220px 1601px #fff, 1978px 162px #fff, 1215px 1407px #fff, 27px 1538px #fff,
    1172px 910px #fff, 1330px 814px #fff, 498px 746px #fff, 190px 1468px #fff,
    825px 890px #fff, 1060px 52px #fff, 37px 1115px #fff, 548px 793px #fff,
    784px 174px #fff, 1028px 225px #fff, 378px 1394px #fff, 1978px 697px #fff,
    904px 1755px #fff, 605px 1744px #fff, 847px 1531px #fff, 684px 211px #fff,
    1134px 250px #fff, 1889px 515px #fff, 551px 1941px #fff, 52px 1441px #fff,
    1681px 1031px #fff, 1888px 528px #fff, 1884px 1358px #fff, 1230px 249px #fff,
    1567px 644px #fff, 1458px 1327px #fff, 1177px 72px #fff, 508px 96px #fff,
    992px 1635px #fff, 585px 1109px #fff, 1874px 1566px #fff, 735px 1004px #fff,
    33px 1059px #fff, 749px 1472px #fff, 1824px 10px #fff, 678px 1486px #fff,
    731px 326px #fff, 1434px 1141px #fff, 1116px 326px #fff, 1245px 1851px #fff,
    616px 1327px #fff, 1386px 234px #fff, 1873px 1972px #fff, 150px 242px #fff,
    1066px 27px #fff, 966px 539px #fff, 538px 461px #fff, 1717px 457px #fff,
    734px 876px #fff, 491px 1447px #fff, 1463px 557px #fff, 632px 499px #fff,
    1122px 217px #fff, 1059px 760px #fff, 1023px 1279px #fff, 1527px 790px #fff,
    936px 1401px #fff, 1534px 694px #fff, 518px 48px #fff, 1177px 376px #fff,
    1071px 1566px #fff, 31px 978px #fff, 1032px 1390px #fff, 1125px 334px #fff,
    928px 696px #fff, 1393px 843px #fff, 677px 1319px #fff, 289px 1646px #fff,
    860px 864px #fff, 966px 1907px #fff, 1154px 1201px #fff, 1617px 426px #fff,
    754px 522px #fff, 1523px 433px #fff, 219px 961px #fff, 1458px 942px #fff,
    134px 1781px #fff, 621px 1957px #fff, 1963px 581px #fff, 1036px 147px #fff,
    676px 455px #fff, 951px 541px #fff, 1599px 1749px #fff, 449px 371px #fff,
    1979px 1067px #fff, 1888px 1790px #fff, 598px 581px #fff, 415px 1769px #fff,
    126px 1588px #fff, 432px 428px #fff, 1891px 92px #fff, 817px 1587px #fff,
    918px 1566px #fff, 1873px 371px #fff, 1484px 622px #fff, 507px 860px #fff,
    269px 1841px #fff, 1405px 1327px #fff, 610px 449px #fff, 545px 919px #fff,
    318px 1515px #fff, 653px 1359px #fff, 1014px 1067px #fff, 1764px 1308px #fff,
    1612px 1551px #fff, 1588px 1401px #fff, 1446px 1688px #fff,
    1108px 1994px #fff, 636px 1346px #fff, 87px 1067px #fff, 1622px 41px #fff,
    1994px 1815px #fff, 1581px 1377px #fff, 149px 699px #fff, 725px 1870px #fff,
    1457px 1994px #fff, 1797px 547px #fff, 400px 234px #fff, 953px 969px #fff,
    1303px 1605px #fff, 3px 1140px #fff, 477px 595px #fff, 64px 940px #fff,
    691px 68px #fff, 1235px 292px #fff, 1774px 244px #fff, 628px 1139px #fff,
    1732px 1926px #fff, 544px 669px #fff, 254px 926px #fff, 1628px 833px #fff,
    421px 1060px #fff, 1474px 804px #fff, 1582px 1755px #fff, 1536px 1954px #fff,
    1623px 1167px #fff, 1233px 1749px #fff, 410px 1495px #fff, 102px 832px #fff,
    137px 863px #fff, 468px 210px #fff, 807px 1264px #fff, 311px 1506px #fff,
    1997px 846px #fff, 1666px 61px #fff, 1892px 440px #fff, 796px 645px #fff,
    1990px 16px #fff, 433px 191px #fff, 11px 865px #fff, 1078px 1488px #fff,
    1205px 550px #fff, 1320px 816px #fff, 1476px 1696px #fff, 1260px 1470px #fff,
    163px 1107px #fff, 1128px 1240px #fff, 821px 1281px #fff, 1620px 1824px #fff,
    106px 276px #fff, 1186px 733px #fff, 653px 654px #fff, 1949px 1118px #fff,
    279px 1178px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1279px 670px #fff, 1153px 739px #fff, 1938px 1233px #fff,
    1746px 862px #fff, 1855px 206px #fff, 292px 1814px #fff, 154px 555px #fff,
    382px 1175px #fff, 1911px 1930px #fff, 1713px 1928px #fff, 296px 1702px #fff,
    1909px 1903px #fff, 1744px 1880px #fff, 1624px 1073px #fff, 22px 1871px #fff,
    112px 1411px #fff, 1661px 228px #fff, 1552px 1981px #fff, 117px 231px #fff,
    902px 297px #fff, 650px 1205px #fff, 1380px 751px #fff, 788px 95px #fff,
    272px 1750px #fff, 1434px 713px #fff, 1592px 89px #fff, 583px 1063px #fff,
    559px 550px #fff, 1750px 127px #fff, 536px 1683px #fff, 967px 1606px #fff,
    429px 1415px #fff, 1430px 255px #fff, 668px 1013px #fff, 796px 447px #fff,
    1094px 1752px #fff, 175px 1038px #fff, 1428px 863px #fff, 1991px 326px #fff,
    956px 1435px #fff, 152px 113px #fff, 328px 1024px #fff, 11px 1542px #fff,
    1997px 1449px #fff, 1854px 411px #fff, 1080px 740px #fff, 1069px 43px #fff,
    1284px 1739px #fff, 600px 1937px #fff, 1309px 1921px #fff, 534px 1773px #fff,
    1953px 886px #fff, 1950px 1980px #fff, 548px 1159px #fff, 1504px 926px #fff,
    335px 1751px #fff, 218px 1757px #fff, 847px 1973px #fff, 1111px 217px #fff,
    6px 1229px #fff, 931px 1399px #fff, 1890px 1073px #fff, 206px 1538px #fff,
    881px 1929px #fff, 851px 552px #fff, 365px 812px #fff, 1871px 1027px #fff,
    1187px 53px #fff, 1132px 1501px #fff, 1819px 1052px #fff, 422px 128px #fff,
    852px 363px #fff, 386px 1300px #fff, 402px 1329px #fff, 358px 547px #fff,
    1456px 391px #fff, 209px 208px #fff, 1833px 1904px #fff, 1298px 1552px #fff,
    1468px 1991px #fff, 940px 1597px #fff, 1687px 1387px #fff, 489px 90px #fff,
    877px 277px #fff, 647px 298px #fff, 1081px 56px #fff, 967px 1066px #fff,
    1820px 407px #fff, 849px 319px #fff, 1309px 1012px #fff, 1678px 1972px #fff,
    730px 1036px #fff, 76px 755px #fff, 1605px 203px #fff, 128px 1842px #fff,
    446px 360px #fff, 272px 1400px #fff, 1568px 568px #fff, 1281px 1758px #fff,
    1587px 1170px #fff, 58px 126px #fff, 557px 285px #fff, 1676px 346px #fff,
    203px 1788px #fff, 369px 425px #fff, 1089px 1583px #fff, 1748px 444px #fff,
    811px 1779px #fff, 102px 650px #fff, 1027px 466px #fff, 1415px 299px #fff,
    759px 824px #fff, 1341px 1186px #fff, 1459px 639px #fff, 1948px 1021px #fff,
    103px 210px #fff, 53px 1757px #fff, 142px 1232px #fff, 1117px 1805px #fff,
    1182px 1630px #fff, 874px 1219px #fff, 1938px 48px #fff, 1289px 524px #fff,
    3px 441px #fff, 817px 289px #fff, 1897px 1974px #fff, 980px 868px #fff,
    33px 51px #fff, 1727px 409px #fff, 933px 931px #fff, 909px 1832px #fff,
    576px 73px #fff, 1595px 185px #fff, 676px 500px #fff, 1043px 1980px #fff,
    1733px 921px #fff, 1654px 60px #fff, 1217px 387px #fff, 1712px 1477px #fff,
    1738px 1128px #fff, 1610px 434px #fff, 1856px 932px #fff, 541px 1825px #fff,
    1945px 774px #fff, 956px 498px #fff, 518px 1808px #fff, 613px 1848px #fff,
    1114px 1658px #fff, 532px 1719px #fff, 1660px 264px #fff, 1539px 1627px #fff,
    1696px 102px #fff, 774px 1468px #fff, 652px 299px #fff, 1850px 1638px #fff,
    1062px 915px #fff, 1232px 1222px #fff, 45px 765px #fff, 1487px 874px #fff,
    1211px 959px #fff, 1059px 1712px #fff, 509px 1139px #fff, 477px 1702px #fff,
    740px 266px #fff, 328px 1935px #fff, 84px 117px #fff, 273px 1136px #fff,
    1646px 791px #fff, 1978px 1769px #fff, 431px 1619px #fff, 1131px 1919px #fff,
    607px 201px #fff, 695px 1201px #fff, 837px 1725px #fff, 1997px 161px #fff,
    1306px 304px #fff, 1121px 33px #fff, 1706px 231px #fff, 1116px 947px #fff,
    1386px 1008px #fff, 1674px 568px #fff, 1315px 1250px #fff, 1639px 956px #fff,
    527px 1973px #fff, 743px 885px #fff, 1624px 1902px #fff, 1604px 590px #fff,
    107px 141px #fff, 78px 1029px #fff, 1325px 1794px #fff, 1976px 1345px #fff,
    191px 1365px #fff, 1427px 1482px #fff, 507px 17px #fff, 206px 553px #fff,
    1205px 819px #fff, 108px 57px #fff, 1760px 671px #fff, 122px 1971px #fff,
    498px 1321px #fff, 74px 818px #fff, 1658px 1050px #fff, 1713px 1137px #fff,
    1760px 653px #fff, 104px 1825px #fff, 997px 1277px #fff, 867px 1155px #fff,
    1972px 1271px #fff, 1234px 410px #fff, 15px 882px #fff, 1641px 859px #fff,
    1271px 97px #fff, 11px 1090px #fff, 1481px 29px #fff, 879px 1082px #fff,
    1259px 878px #fff, 859px 913px #fff, 1731px 1927px #fff, 1726px 1273px #fff,
    1460px 613px #fff, 1554px 158px #fff, 1841px 1703px #fff, 1597px 774px #fff,
    1794px 259px #fff, 124px 149px #fff, 1176px 386px #fff, 714px 1114px #fff,
    90px 544px #fff, 930px 85px #fff, 1957px 632px #fff, 586px 434px #fff,
    556px 179px #fff, 1332px 1166px #fff, 399px 1704px #fff, 1856px 663px #fff,
    280px 146px #fff, 1617px 1125px #fff, 288px 175px #fff, 199px 1863px #fff,
    921px 770px #fff, 1027px 162px #fff, 755px 570px #fff, 862px 937px #fff,
    1132px 349px #fff, 390px 1612px #fff, 533px 519px #fff, 1257px 892px #fff,
    808px 1693px #fff, 180px 1219px #fff, 761px 1484px #fff, 184px 1853px #fff,
    815px 1229px #fff, 1938px 1162px #fff, 1970px 732px #fff, 844px 661px #fff,
    1948px 1404px #fff, 130px 1600px #fff, 677px 319px #fff, 481px 1786px #fff,
    564px 1379px #fff, 1920px 1697px #fff, 442px 1457px #fff, 1928px 1821px #fff,
    1842px 1410px #fff, 1348px 1592px #fff, 1270px 397px #fff,
    1567px 1339px #fff, 47px 1301px #fff, 466px 1584px #fff, 728px 1861px #fff,
    1176px 77px #fff, 180px 504px #fff, 1686px 374px #fff, 463px 727px #fff,
    1287px 389px #fff, 672px 1599px #fff, 243px 590px #fff, 1460px 1453px #fff,
    604px 1015px #fff, 1961px 607px #fff, 1512px 196px #fff, 1942px 950px #fff,
    886px 913px #fff, 314px 1093px #fff, 1410px 888px #fff, 899px 475px #fff,
    65px 988px #fff, 1623px 622px #fff, 1057px 324px #fff, 1342px 94px #fff,
    1880px 1580px #fff, 938px 1358px #fff, 1772px 1031px #fff, 909px 1287px #fff,
    1755px 92px #fff, 1553px 1124px #fff, 775px 1174px #fff, 834px 1468px #fff,
    1346px 198px #fff, 1988px 676px #fff, 196px 213px #fff, 720px 1770px #fff,
    1747px 1062px #fff, 1866px 1722px #fff, 1416px 991px #fff,
    1223px 1327px #fff, 1291px 233px #fff, 402px 1798px #fff, 1437px 1946px #fff,
    339px 352px #fff, 445px 820px #fff, 1032px 1172px #fff, 1781px 1200px #fff,
    1962px 1208px #fff, 803px 1979px #fff, 1354px 1276px #fff, 1365px 841px #fff,
    1928px 244px #fff, 843px 1181px #fff, 1013px 1762px #fff, 1474px 1770px #fff,
    100px 817px #fff, 1973px 1742px #fff, 171px 1507px #fff, 1101px 1519px #fff,
    1527px 1324px #fff, 36px 671px #fff, 670px 1342px #fff, 1102px 1325px #fff,
    817px 603px #fff, 98px 1744px #fff, 1347px 730px #fff, 695px 1328px #fff,
    313px 535px #fff, 936px 1701px #fff, 488px 1966px #fff, 1200px 1455px #fff,
    1565px 1943px #fff, 12px 902px #fff, 537px 1354px #fff, 82px 1368px #fff,
    294px 1020px #fff, 1795px 1410px #fff, 1995px 632px #fff, 744px 310px #fff,
    71px 1027px #fff, 1298px 322px #fff, 1327px 1126px #fff, 162px 951px #fff,
    413px 439px #fff, 106px 1466px #fff, 1148px 879px #fff, 1586px 697px #fff,
    897px 1655px #fff, 190px 1408px #fff, 880px 971px #fff, 563px 958px #fff,
    880px 856px #fff, 1505px 1058px #fff, 306px 1346px #fff, 1205px 30px #fff,
    378px 1311px #fff, 1996px 360px #fff, 1216px 365px #fff, 127px 853px #fff,
    37px 216px #fff, 1734px 976px #fff, 120px 1327px #fff, 1580px 320px #fff,
    1831px 1262px #fff, 311px 160px #fff, 482px 125px #fff, 453px 1593px #fff,
    802px 826px #fff, 1653px 1163px #fff, 1734px 1660px #fff, 1464px 1073px #fff,
    1835px 1811px #fff, 960px 75px #fff, 260px 284px #fff, 790px 1934px #fff,
    1839px 1965px #fff, 1241px 1265px #fff, 246px 1103px #fff, 39px 864px #fff,
    210px 1821px #fff, 544px 1574px #fff, 440px 516px #fff, 924px 137px #fff,
    1218px 399px #fff, 875px 226px #fff, 666px 98px #fff, 169px 1968px #fff,
    922px 515px #fff, 714px 196px #fff, 29px 214px #fff, 45px 1714px #fff,
    1663px 865px #fff, 473px 880px #fff, 333px 752px #fff, 1233px 925px #fff,
    502px 122px #fff, 120px 1350px #fff, 1893px 594px #fff, 202px 788px #fff,
    1106px 226px #fff, 1187px 1921px #fff, 735px 554px #fff, 1001px 1679px #fff,
    537px 1572px #fff, 40px 681px #fff, 27px 647px #fff, 998px 938px #fff,
    507px 388px #fff, 956px 1075px #fff, 1976px 1436px #fff, 543px 941px #fff,
    1559px 489px #fff, 1645px 124px #fff, 1300px 663px #fff, 384px 46px #fff,
    1571px 635px #fff, 550px 670px #fff, 1268px 1793px #fff, 987px 1955px #fff,
    1051px 1188px #fff, 23px 1053px #fff, 898px 1121px #fff, 1602px 91px #fff,
    1416px 1126px #fff, 1570px 414px #fff, 1228px 838px #fff, 390px 1043px #fff,
    323px 148px #fff, 499px 1676px #fff, 1915px 1376px #fff, 1353px 1339px #fff,
    1567px 1410px #fff, 914px 845px #fff, 1801px 342px #fff, 297px 364px #fff,
    1128px 167px #fff, 1051px 496px #fff, 847px 100px #fff, 1922px 548px #fff,
    854px 318px #fff, 1595px 1048px #fff, 471px 1725px #fff, 1559px 281px #fff,
    674px 346px #fff, 14px 1939px #fff, 1021px 684px #fff, 846px 986px #fff,
    1937px 1954px #fff, 1514px 1780px #fff, 1620px 253px #fff, 393px 1403px #fff,
    1444px 178px #fff, 1920px 50px #fff, 909px 488px #fff, 1022px 1085px #fff,
    671px 1245px #fff, 1684px 442px #fff, 1619px 29px #fff, 936px 111px #fff,
    802px 1225px #fff, 1441px 1306px #fff, 1918px 1849px #fff, 898px 512px #fff,
    165px 1349px #fff, 8px 526px #fff, 302px 293px #fff, 461px 291px #fff,
    261px 1989px #fff, 795px 1835px #fff, 183px 1px #fff, 1358px 1113px #fff,
    423px 790px #fff, 671px 1678px #fff, 589px 1147px #fff, 668px 535px #fff,
    1051px 163px #fff, 708px 106px #fff, 1298px 1430px #fff, 1483px 1966px #fff,
    1372px 356px #fff, 1244px 616px #fff, 86px 1430px #fff, 1026px 1894px #fff,
    1194px 1083px #fff, 373px 391px #fff, 1311px 1396px #fff, 745px 854px #fff,
    348px 285px #fff, 1593px 1103px #fff, 1834px 810px #fff, 1521px 1584px #fff,
    892px 855px #fff, 1353px 1031px #fff, 1644px 378px #fff, 891px 1500px #fff,
    471px 889px #fff, 534px 882px #fff, 1407px 380px #fff, 98px 465px #fff,
    766px 1525px #fff, 1525px 407px #fff, 1200px 1937px #fff, 1058px 1147px #fff,
    464px 1851px #fff, 1394px 1468px #fff, 1563px 1534px #fff,
    1795px 1357px #fff, 27px 1586px #fff, 319px 1096px #fff, 98px 521px #fff,
    34px 328px #fff, 825px 1626px #fff, 1765px 1310px #fff, 654px 1435px #fff,
    958px 868px #fff, 1536px 1726px #fff, 934px 428px #fff, 1920px 1342px #fff,
    783px 1033px #fff, 1543px 434px #fff, 1128px 29px #fff, 1601px 1849px #fff,
    1849px 282px #fff, 1940px 729px #fff, 605px 1677px #fff, 1436px 1884px #fff,
    220px 1601px #fff, 1978px 162px #fff, 1215px 1407px #fff, 27px 1538px #fff,
    1172px 910px #fff, 1330px 814px #fff, 498px 746px #fff, 190px 1468px #fff,
    825px 890px #fff, 1060px 52px #fff, 37px 1115px #fff, 548px 793px #fff,
    784px 174px #fff, 1028px 225px #fff, 378px 1394px #fff, 1978px 697px #fff,
    904px 1755px #fff, 605px 1744px #fff, 847px 1531px #fff, 684px 211px #fff,
    1134px 250px #fff, 1889px 515px #fff, 551px 1941px #fff, 52px 1441px #fff,
    1681px 1031px #fff, 1888px 528px #fff, 1884px 1358px #fff, 1230px 249px #fff,
    1567px 644px #fff, 1458px 1327px #fff, 1177px 72px #fff, 508px 96px #fff,
    992px 1635px #fff, 585px 1109px #fff, 1874px 1566px #fff, 735px 1004px #fff,
    33px 1059px #fff, 749px 1472px #fff, 1824px 10px #fff, 678px 1486px #fff,
    731px 326px #fff, 1434px 1141px #fff, 1116px 326px #fff, 1245px 1851px #fff,
    616px 1327px #fff, 1386px 234px #fff, 1873px 1972px #fff, 150px 242px #fff,
    1066px 27px #fff, 966px 539px #fff, 538px 461px #fff, 1717px 457px #fff,
    734px 876px #fff, 491px 1447px #fff, 1463px 557px #fff, 632px 499px #fff,
    1122px 217px #fff, 1059px 760px #fff, 1023px 1279px #fff, 1527px 790px #fff,
    936px 1401px #fff, 1534px 694px #fff, 518px 48px #fff, 1177px 376px #fff,
    1071px 1566px #fff, 31px 978px #fff, 1032px 1390px #fff, 1125px 334px #fff,
    928px 696px #fff, 1393px 843px #fff, 677px 1319px #fff, 289px 1646px #fff,
    860px 864px #fff, 966px 1907px #fff, 1154px 1201px #fff, 1617px 426px #fff,
    754px 522px #fff, 1523px 433px #fff, 219px 961px #fff, 1458px 942px #fff,
    134px 1781px #fff, 621px 1957px #fff, 1963px 581px #fff, 1036px 147px #fff,
    676px 455px #fff, 951px 541px #fff, 1599px 1749px #fff, 449px 371px #fff,
    1979px 1067px #fff, 1888px 1790px #fff, 598px 581px #fff, 415px 1769px #fff,
    126px 1588px #fff, 432px 428px #fff, 1891px 92px #fff, 817px 1587px #fff,
    918px 1566px #fff, 1873px 371px #fff, 1484px 622px #fff, 507px 860px #fff,
    269px 1841px #fff, 1405px 1327px #fff, 610px 449px #fff, 545px 919px #fff,
    318px 1515px #fff, 653px 1359px #fff, 1014px 1067px #fff, 1764px 1308px #fff,
    1612px 1551px #fff, 1588px 1401px #fff, 1446px 1688px #fff,
    1108px 1994px #fff, 636px 1346px #fff, 87px 1067px #fff, 1622px 41px #fff,
    1994px 1815px #fff, 1581px 1377px #fff, 149px 699px #fff, 725px 1870px #fff,
    1457px 1994px #fff, 1797px 547px #fff, 400px 234px #fff, 953px 969px #fff,
    1303px 1605px #fff, 3px 1140px #fff, 477px 595px #fff, 64px 940px #fff,
    691px 68px #fff, 1235px 292px #fff, 1774px 244px #fff, 628px 1139px #fff,
    1732px 1926px #fff, 544px 669px #fff, 254px 926px #fff, 1628px 833px #fff,
    421px 1060px #fff, 1474px 804px #fff, 1582px 1755px #fff, 1536px 1954px #fff,
    1623px 1167px #fff, 1233px 1749px #fff, 410px 1495px #fff, 102px 832px #fff,
    137px 863px #fff, 468px 210px #fff, 807px 1264px #fff, 311px 1506px #fff,
    1997px 846px #fff, 1666px 61px #fff, 1892px 440px #fff, 796px 645px #fff,
    1990px 16px #fff, 433px 191px #fff, 11px 865px #fff, 1078px 1488px #fff,
    1205px 550px #fff, 1320px 816px #fff, 1476px 1696px #fff, 1260px 1470px #fff,
    163px 1107px #fff, 1128px 1240px #fff, 821px 1281px #fff, 1620px 1824px #fff,
    106px 276px #fff, 1186px 733px #fff, 653px 654px #fff, 1949px 1118px #fff,
    279px 1178px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1709px 1614px #fff, 1494px 1150px #fff, 1305px 477px #fff,
    639px 1441px #fff, 875px 1667px #fff, 31px 1402px #fff, 1220px 1865px #fff,
    707px 578px #fff, 394px 1821px #fff, 1321px 1093px #fff, 1882px 1606px #fff,
    1448px 74px #fff, 1727px 1758px #fff, 1178px 503px #fff, 1075px 96px #fff,
    1395px 1611px #fff, 110px 1085px #fff, 1700px 1586px #fff, 1861px 99px #fff,
    461px 1966px #fff, 1131px 1624px #fff, 389px 811px #fff, 531px 328px #fff,
    274px 379px #fff, 1468px 1184px #fff, 1701px 1343px #fff, 535px 1965px #fff,
    1259px 1336px #fff, 1945px 618px #fff, 149px 588px #fff, 1738px 1819px #fff,
    1183px 274px #fff, 1792px 1917px #fff, 1750px 248px #fff, 667px 1463px #fff,
    625px 1115px #fff, 1329px 1514px #fff, 852px 1567px #fff, 581px 259px #fff,
    141px 1019px #fff, 1083px 482px #fff, 1131px 1937px #fff, 251px 247px #fff,
    1506px 1278px #fff, 486px 129px #fff, 691px 153px #fff, 1893px 612px #fff,
    839px 801px #fff, 721px 530px #fff, 654px 1709px #fff, 1861px 1739px #fff,
    195px 1638px #fff, 519px 221px #fff, 1001px 974px #fff, 362px 933px #fff,
    1205px 1595px #fff, 1918px 852px #fff, 152px 1633px #fff, 1813px 1286px #fff,
    1307px 953px #fff, 305px 1184px #fff, 1317px 355px #fff, 336px 1628px #fff,
    1685px 331px #fff, 876px 513px #fff, 1770px 900px #fff, 1286px 1239px #fff,
    335px 1662px #fff, 1213px 214px #fff, 615px 1496px #fff, 978px 290px #fff,
    933px 663px #fff, 1946px 418px #fff, 1447px 1341px #fff, 699px 658px #fff,
    1986px 309px #fff, 178px 1778px #fff, 1450px 1990px #fff, 326px 1244px #fff,
    1399px 543px #fff, 888px 1511px #fff, 1724px 129px #fff, 309px 1665px #fff,
    858px 1502px #fff, 1117px 56px #fff, 1216px 581px #fff, 1227px 1832px #fff,
    287px 126px #fff, 1431px 1115px #fff, 440px 1339px #fff, 1206px 1573px #fff,
    483px 907px #fff, 784px 1124px #fff, 427px 1438px #fff, 422px 1094px #fff,
    1278px 354px #fff, 1166px 112px #fff, 667px 1490px #fff, 1728px 771px #fff,
    1929px 1994px #fff, 814px 1210px #fff, 1738px 429px #fff, 1677px 1197px #fff,
    1642px 1968px #fff, 1721px 843px #fff, 991px 1041px #fff, 104px 1831px #fff,
    42px 1053px #fff, 434px 1876px #fff, 401px 760px #fff, 1434px 99px #fff,
    1764px 1512px #fff, 651px 1586px #fff, 70px 40px #fff, 719px 1905px #fff,
    29px 108px #fff, 665px 1085px #fff, 704px 1114px #fff, 25px 1388px #fff,
    499px 937px #fff, 780px 1619px #fff, 1465px 1818px #fff, 487px 787px #fff,
    1331px 635px #fff, 826px 1222px #fff, 1221px 1124px #fff, 1872px 1609px #fff,
    1736px 198px #fff, 1039px 1608px #fff, 1704px 855px #fff, 701px 1040px #fff,
    1316px 1793px #fff, 60px 918px #fff, 940px 1316px #fff, 1066px 82px #fff,
    926px 1829px #fff, 1117px 1077px #fff, 231px 1651px #fff, 586px 825px #fff,
    548px 451px #fff, 1646px 777px #fff, 734px 1009px #fff, 1276px 1138px #fff,
    1750px 1315px #fff, 1964px 1929px #fff, 1585px 804px #fff,
    1617px 1400px #fff, 889px 1576px #fff, 975px 292px #fff, 303px 218px #fff,
    689px 1043px #fff, 610px 1511px #fff, 717px 900px #fff, 1742px 1384px #fff,
    603px 625px #fff, 863px 202px #fff, 1363px 1822px #fff, 1849px 1834px #fff,
    332px 1995px #fff, 1189px 429px #fff, 1452px 934px #fff, 1734px 529px #fff,
    684px 1003px #fff, 505px 1099px #fff, 1538px 1422px #fff, 899px 637px #fff,
    1404px 369px #fff, 1144px 1586px #fff, 545px 235px #fff, 1687px 1698px #fff,
    1447px 388px #fff, 48px 1260px #fff, 1586px 589px #fff, 1222px 1287px #fff,
    1543px 916px #fff, 664px 684px #fff, 1064px 1014px #fff, 1070px 311px #fff,
    581px 423px #fff, 419px 1696px #fff, 1709px 63px #fff, 1925px 1897px #fff,
    1808px 1021px #fff, 1948px 544px #fff, 1697px 749px #fff, 783px 1527px #fff,
    92px 849px #fff, 1056px 1844px #fff, 1449px 675px #fff, 1303px 1093px #fff,
    1323px 1257px #fff, 1764px 1663px #fff, 258px 1604px #fff, 1023px 801px #fff,
    444px 801px #fff, 369px 1940px #fff, 617px 1452px #fff, 1921px 1020px #fff,
    756px 887px #fff, 64px 1577px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1709px 1614px #fff, 1494px 1150px #fff, 1305px 477px #fff,
    639px 1441px #fff, 875px 1667px #fff, 31px 1402px #fff, 1220px 1865px #fff,
    707px 578px #fff, 394px 1821px #fff, 1321px 1093px #fff, 1882px 1606px #fff,
    1448px 74px #fff, 1727px 1758px #fff, 1178px 503px #fff, 1075px 96px #fff,
    1395px 1611px #fff, 110px 1085px #fff, 1700px 1586px #fff, 1861px 99px #fff,
    461px 1966px #fff, 1131px 1624px #fff, 389px 811px #fff, 531px 328px #fff,
    274px 379px #fff, 1468px 1184px #fff, 1701px 1343px #fff, 535px 1965px #fff,
    1259px 1336px #fff, 1945px 618px #fff, 149px 588px #fff, 1738px 1819px #fff,
    1183px 274px #fff, 1792px 1917px #fff, 1750px 248px #fff, 667px 1463px #fff,
    625px 1115px #fff, 1329px 1514px #fff, 852px 1567px #fff, 581px 259px #fff,
    141px 1019px #fff, 1083px 482px #fff, 1131px 1937px #fff, 251px 247px #fff,
    1506px 1278px #fff, 486px 129px #fff, 691px 153px #fff, 1893px 612px #fff,
    839px 801px #fff, 721px 530px #fff, 654px 1709px #fff, 1861px 1739px #fff,
    195px 1638px #fff, 519px 221px #fff, 1001px 974px #fff, 362px 933px #fff,
    1205px 1595px #fff, 1918px 852px #fff, 152px 1633px #fff, 1813px 1286px #fff,
    1307px 953px #fff, 305px 1184px #fff, 1317px 355px #fff, 336px 1628px #fff,
    1685px 331px #fff, 876px 513px #fff, 1770px 900px #fff, 1286px 1239px #fff,
    335px 1662px #fff, 1213px 214px #fff, 615px 1496px #fff, 978px 290px #fff,
    933px 663px #fff, 1946px 418px #fff, 1447px 1341px #fff, 699px 658px #fff,
    1986px 309px #fff, 178px 1778px #fff, 1450px 1990px #fff, 326px 1244px #fff,
    1399px 543px #fff, 888px 1511px #fff, 1724px 129px #fff, 309px 1665px #fff,
    858px 1502px #fff, 1117px 56px #fff, 1216px 581px #fff, 1227px 1832px #fff,
    287px 126px #fff, 1431px 1115px #fff, 440px 1339px #fff, 1206px 1573px #fff,
    483px 907px #fff, 784px 1124px #fff, 427px 1438px #fff, 422px 1094px #fff,
    1278px 354px #fff, 1166px 112px #fff, 667px 1490px #fff, 1728px 771px #fff,
    1929px 1994px #fff, 814px 1210px #fff, 1738px 429px #fff, 1677px 1197px #fff,
    1642px 1968px #fff, 1721px 843px #fff, 991px 1041px #fff, 104px 1831px #fff,
    42px 1053px #fff, 434px 1876px #fff, 401px 760px #fff, 1434px 99px #fff,
    1764px 1512px #fff, 651px 1586px #fff, 70px 40px #fff, 719px 1905px #fff,
    29px 108px #fff, 665px 1085px #fff, 704px 1114px #fff, 25px 1388px #fff,
    499px 937px #fff, 780px 1619px #fff, 1465px 1818px #fff, 487px 787px #fff,
    1331px 635px #fff, 826px 1222px #fff, 1221px 1124px #fff, 1872px 1609px #fff,
    1736px 198px #fff, 1039px 1608px #fff, 1704px 855px #fff, 701px 1040px #fff,
    1316px 1793px #fff, 60px 918px #fff, 940px 1316px #fff, 1066px 82px #fff,
    926px 1829px #fff, 1117px 1077px #fff, 231px 1651px #fff, 586px 825px #fff,
    548px 451px #fff, 1646px 777px #fff, 734px 1009px #fff, 1276px 1138px #fff,
    1750px 1315px #fff, 1964px 1929px #fff, 1585px 804px #fff,
    1617px 1400px #fff, 889px 1576px #fff, 975px 292px #fff, 303px 218px #fff,
    689px 1043px #fff, 610px 1511px #fff, 717px 900px #fff, 1742px 1384px #fff,
    603px 625px #fff, 863px 202px #fff, 1363px 1822px #fff, 1849px 1834px #fff,
    332px 1995px #fff, 1189px 429px #fff, 1452px 934px #fff, 1734px 529px #fff,
    684px 1003px #fff, 505px 1099px #fff, 1538px 1422px #fff, 899px 637px #fff,
    1404px 369px #fff, 1144px 1586px #fff, 545px 235px #fff, 1687px 1698px #fff,
    1447px 388px #fff, 48px 1260px #fff, 1586px 589px #fff, 1222px 1287px #fff,
    1543px 916px #fff, 664px 684px #fff, 1064px 1014px #fff, 1070px 311px #fff,
    581px 423px #fff, 419px 1696px #fff, 1709px 63px #fff, 1925px 1897px #fff,
    1808px 1021px #fff, 1948px 544px #fff, 1697px 749px #fff, 783px 1527px #fff,
    92px 849px #fff, 1056px 1844px #fff, 1449px 675px #fff, 1303px 1093px #fff,
    1323px 1257px #fff, 1764px 1663px #fff, 258px 1604px #fff, 1023px 801px #fff,
    444px 801px #fff, 369px 1940px #fff, 617px 1452px #fff, 1921px 1020px #fff,
    756px 887px #fff, 64px 1577px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 90px 683px #fff, 857px 1449px #fff, 1477px 18px #fff,
    52px 133px #fff, 1283px 547px #fff, 1488px 624px #fff, 504px 1336px #fff,
    1149px 1890px #fff, 312px 1790px #fff, 391px 1921px #fff, 819px 1694px #fff,
    1553px 1761px #fff, 1296px 874px #fff, 823px 92px #fff, 886px 115px #fff,
    1262px 16px #fff, 1549px 1629px #fff, 1629px 27px #fff, 42px 334px #fff,
    107px 1417px #fff, 284px 377px #fff, 471px 1982px #fff, 166px 685px #fff,
    754px 1696px #fff, 446px 524px #fff, 171px 63px #fff, 201px 1757px #fff,
    1886px 541px #fff, 181px 66px #fff, 1134px 569px #fff, 263px 1347px #fff,
    158px 553px #fff, 893px 1969px #fff, 1501px 1375px #fff, 1896px 1481px #fff,
    1373px 125px #fff, 825px 853px #fff, 1130px 366px #fff, 1404px 1135px #fff,
    1832px 1572px #fff, 1457px 1917px #fff, 768px 369px #fff, 1516px 466px #fff,
    1501px 829px #fff, 1359px 10px #fff, 757px 1260px #fff, 375px 1447px #fff,
    1673px 461px #fff, 1223px 1270px #fff, 1334px 1162px #fff, 1723px 932px #fff,
    1758px 1339px #fff, 951px 840px #fff, 570px 100px #fff, 962px 1364px #fff,
    52px 889px #fff, 782px 1867px #fff, 1195px 890px #fff, 189px 1835px #fff,
    982px 1075px #fff, 1060px 649px #fff, 1514px 1257px #fff, 1446px 1069px #fff,
    1325px 1545px #fff, 1077px 1007px #fff, 530px 500px #fff, 1443px 329px #fff,
    1106px 1375px #fff, 974px 1647px #fff, 813px 508px #fff, 1738px 331px #fff,
    783px 1145px #fff, 1561px 1763px #fff, 138px 1834px #fff, 1759px 330px #fff,
    1100px 1054px #fff, 1529px 634px #fff, 986px 352px #fff, 219px 780px #fff,
    1840px 126px #fff, 858px 1498px #fff, 517px 1897px #fff, 825px 647px #fff,
    1902px 418px #fff, 1926px 1548px #fff, 532px 546px #fff, 1850px 1040px #fff,
    1307px 1012px #fff, 775px 191px #fff, 1657px 1384px #fff, 1346px 225px #fff,
    566px 1378px #fff, 1952px 986px #fff, 1061px 1733px #fff, 849px 887px #fff,
    436px 1655px #fff, 1272px 1077px #fff, 727px 1754px #fff, 1401px 252px #fff,
    29px 1607px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 90px 683px #fff, 857px 1449px #fff, 1477px 18px #fff,
    52px 133px #fff, 1283px 547px #fff, 1488px 624px #fff, 504px 1336px #fff,
    1149px 1890px #fff, 312px 1790px #fff, 391px 1921px #fff, 819px 1694px #fff,
    1553px 1761px #fff, 1296px 874px #fff, 823px 92px #fff, 886px 115px #fff,
    1262px 16px #fff, 1549px 1629px #fff, 1629px 27px #fff, 42px 334px #fff,
    107px 1417px #fff, 284px 377px #fff, 471px 1982px #fff, 166px 685px #fff,
    754px 1696px #fff, 446px 524px #fff, 171px 63px #fff, 201px 1757px #fff,
    1886px 541px #fff, 181px 66px #fff, 1134px 569px #fff, 263px 1347px #fff,
    158px 553px #fff, 893px 1969px #fff, 1501px 1375px #fff, 1896px 1481px #fff,
    1373px 125px #fff, 825px 853px #fff, 1130px 366px #fff, 1404px 1135px #fff,
    1832px 1572px #fff, 1457px 1917px #fff, 768px 369px #fff, 1516px 466px #fff,
    1501px 829px #fff, 1359px 10px #fff, 757px 1260px #fff, 375px 1447px #fff,
    1673px 461px #fff, 1223px 1270px #fff, 1334px 1162px #fff, 1723px 932px #fff,
    1758px 1339px #fff, 951px 840px #fff, 570px 100px #fff, 962px 1364px #fff,
    52px 889px #fff, 782px 1867px #fff, 1195px 890px #fff, 189px 1835px #fff,
    982px 1075px #fff, 1060px 649px #fff, 1514px 1257px #fff, 1446px 1069px #fff,
    1325px 1545px #fff, 1077px 1007px #fff, 530px 500px #fff, 1443px 329px #fff,
    1106px 1375px #fff, 974px 1647px #fff, 813px 508px #fff, 1738px 331px #fff,
    783px 1145px #fff, 1561px 1763px #fff, 138px 1834px #fff, 1759px 330px #fff,
    1100px 1054px #fff, 1529px 634px #fff, 986px 352px #fff, 219px 780px #fff,
    1840px 126px #fff, 858px 1498px #fff, 517px 1897px #fff, 825px 647px #fff,
    1902px 418px #fff, 1926px 1548px #fff, 532px 546px #fff, 1850px 1040px #fff,
    1307px 1012px #fff, 775px 191px #fff, 1657px 1384px #fff, 1346px 225px #fff,
    566px 1378px #fff, 1952px 986px #fff, 1061px 1733px #fff, 849px 887px #fff,
    436px 1655px #fff, 1272px 1077px #fff, 727px 1754px #fff, 1401px 252px #fff,
    29px 1607px #fff;
}

#title {
  position: absolute;
  top: 44vh;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  cursor: pointer;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
